<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154221482025-qukig974719ej0vp143advfotf1kd1ot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154221482025-qukig974719ej0vp143advfotf1kd1ot</string>
	<key>API_KEY</key>
	<string>AIzaSyAOKwugXE9c_A7-R8x1xyZprm9wYGoTWGE</string>
	<key>GCM_SENDER_ID</key>
	<string>154221482025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ua.kr.zolotoe-shitvo.GoldenSewing</string>
	<key>PROJECT_ID</key>
	<string>goldensewing-1e894</string>
	<key>STORAGE_BUCKET</key>
	<string>goldensewing-1e894.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154221482025:ios:c3425d65e7fb81be</string>
	<key>DATABASE_URL</key>
	<string>https://goldensewing-1e894.firebaseio.com</string>
</dict>
</plist>